.background {
  -fx-background-color: #ffffff;
}

.label {
  -fx-font-size: 10pt;
  -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  -fx-text-fill: #33b5e5;
}

.text-field {
  -fx-background-color: #33b5e5, white, white;
  -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
  -fx-background-radius: 0;
  -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  -fx-font-size: 10pt;
}

.button {
  -fx-padding: 5 22 5 22;
  -fx-border-color: #e2e2e2;
  -fx-border-width: 2px;
  -fx-background-radius: 0;
  -fx-background-color: #fff;
  -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  -fx-font-size: 10pt;
  -fx-text-fill: #33b5e5;
}

.button:hover {
  -fx-text-fill: #ffffff;
  -fx-background-color: #33b5e5;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.button:disabled, .button:default:disabled
{
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default
{
    -fx-background-color: #33b5e5;
    -fx-text-fill: #ffffff;
}

.button:default:hover{
    -fx-background-color: #219297;
}
